:root{
  --headerWitdh : 30%;

  --mainBorderRadius : 15px;
  --secondaryBorderRadius : 10px;

  --borderWitdh : 1px;

  --maxLogosWitdh : 55px;
  --maxLanguageImageWidth : 35px;

  --bodyHeaderLenght : 54%;

  --h3Margin: 5px 0 0 0;

  --timelineDotSize : 25px;

  --timelineDotMarginLeft : 7px;


   /* General Variables */
    --h1FontSize: 35px;
    --h2FontSize: 23px;
    --h3FontSize: 21px;
    --h4FontSize: 21px;
    --h5FontSize: 15px;
    --h6FontSize: 19px;
    --h7FontSize: 18px;
    --pFontSize : 13px;


    --h1FontSizeMobile : 45px;
    --h2FontSizeMobile: 20px;
    --h3FontSizeMobile: 18px;
    --h4FontSizeMobile : 17px;
    --h5FontSizeMobile : 15px;
    --h6FontSizeMobile : 13px;
    --h7FontSizeMobile : 16px;
    --pFontSizeMobile : 13px;
    --buttonFontSizeMobile : 18px;

    --h1FontSizeDesktop : 100px;
    --h2FontSizeDesktop : 26px;
    --h3FontSizeDesktop : 21px;
    --h4FontSizeDesktop : 21px;
    --h5FontSizeDesktop : 19px;
    --h6FontSizeDesktop : 17px;
    --h7FontSizeDesktop : 20px;
    --pFontSizeDesktop : 17px;
    --buttonFontSizeDesktop : 20px;
 
}
[theme = "dark"]{
  --appBackgroundColor: #2B2A2C;
  --contentBackgroundColor: rgb(59, 59, 62,  0.5);
  --innerBackgroundColor: rgb(80, 79, 84, 0.5);
  --otherBackgroundColor: #504f54;

  --contentBorderColor : transparent;

  --primaryColor : #fdd66d;
  --secondaryColor : #dcdcdc;
  --terziaryColor : #d5d5d5;

  /*
  Colors used in the template
  --appBackgroundColor : #111111;
  --contentBackgroundColor : #1E1E1F;
  --innerBackgroundColor: #373738;
  --otherBackgroundColor : #282829;
  --contentBorderColor : #414040;
  --primaryColor : #fdd66d;
  --secondaryColor : #ffffff;
  --terziaryColor : #d5d5d5;
 */

}

[theme = "light"]{

  --appBackgroundColor: #eeeeee;
  --contentBackgroundColor: #d6d6d6;
  --innerBackgroundColor: #b8b8b8;
  --otherBackgroundColor: #b8b8b8;

  --contentBorderColor : transparent;

  --primaryColor : #658864;
  --secondaryColor : #484848;
  --terziaryColor : #7b7b7b;

  /*
  Colors used in the template
  --appBackgroundColor : #DDDDDD;
  --contentBackgroundColor : #eeeeee;
  --innerBackgroundColor: #cdcdcd;
  --otherBackgroundColor : #cdcdcd;
  --contentBorderColor : #292929;
  --primaryColor : #658864;
  --secondaryColor : #525252;
  --terziaryColor : #7b7b7b;
  */
}

[devicetype = "Desktop"]{
  /* Loading animation variables */
  --dotSizes : 70px;
  --dotExpansion : 225px;

  /* app  variables */
  --mainWrapperMargins : 2% 3%;

  /* header variables */
  --headerTitleMargins : 0 0 0 0;
  --headerSocialIconsMargins:  0 0 0 0;  

  /* Portfolio section variables */
  --portoflioGridLayour : 50% 50%;
  --RepoCardMaxWitdh : 800px;
  --bodyGgridPadding : 3%;


  /* About section variables */
  --langugeGridTemplateColumn : 15% 85%;
  --itSkillsGridTempleteColumn : auto auto auto;

  --verticalTimelineContentWidth : 97%;

  /* Header section variables */
  --headerImgShadow : 0  0  1px 1px var(--secondaryColor);
  --headerImgMargin : 20px 0;

  /* Icons*/
  --maxLogosWitdh : 35px;
  --HeaderIconsMargin : 7%;


  --timelineDotSize : 35px;
  --timelineDotMarginLeft : 2px;

  /* Margins */
  --h3Margin: 10px 0 0 0;


}

[devicetype = "Tablet"]{
  /* Loading animation variables */
  --dotSizes : 30px;
  --dotExpansion : 100px;

  /* app  variables */
  --mainWrapperMargins : 1% 2%;

  /* header variables */
  --headerTitleMargins : 0 0 0 0;
  --headerSocialIconsMargins:  0 0 0 0;  

  /* Portfolio section variables */
  --portoflioGridLayour : 100%;
  --RepoCardMaxWitdh : 800px;
  --bodyGgridPadding : 3% 0;

  /* About section variables */
  --langugeGridTemplateColumn : 17% 83%;
  --itSkillsGridTempleteColumn : auto auto auto;

  --verticalTimelineContentWidth : 97%;

  /* Header section variables */
  --headerImgShadow : 0  0  1px 1px var(--secondaryColor);
  --headerImgMargin : 20px 15px 20px 20px;

  /* Icons*/
  --maxLogosWitdh : 40px;
  --HeaderIconsMargin : 10px;

  --h1FontSize : 45px;
  --h2FontSize : 26px;
  --h3FontSize : 21px;
  --h4FontSize : 21px;
  --h5FontSize : 19px;
  --h6FontSize : 17px;
  --pFontSize : 15px;
  --buttonFontSize : 20px;
  
  --pFontSize : 19px;
  --buttonFontSize : 20px;

    /* Margins */
    --h3Margin: 5px 0 0 0;

}

[devicetype = "Mobile"]{
  /* Loading animation variables */
  --dotSizes : 30px;
  --dotExpansion : 100px;

  /* app  variables */
  --mainWrapperMargins : 0% 0%;

  /* header variables */
  --headerTitleMargins :  0 5px  0 5px;
  --headerSocialIconsMargins:  0 0 0px 0px;

  /* Portfolio section variables */
  --portoflioGridLayour : 100%;
  --RepoCardMaxWitdh : 800px;
  --bodyGgridPadding : 3% 0;

  /* About section variables */
  --langugeGridTemplateColumn : 30% 70% ;
  --itSkillsGridTempleteColumn : auto auto;

  --verticalTimelineContentWidth : 86%;

  /* Header section variables */
  --headerImgShadow : 0  0  1px 1px var(--secondaryColor);
  --headerImgMargin : 5px 0px 7px 1px;

  /* Icons*/
  --maxLogosWitdh : 30px;
  --HeaderIconsMargin : 5px;

    /* Margins */
    --h3Margin: 10px 0 0 1px;
}


.App {
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;

  background-color: var(--appBackgroundColor);
  overflow-y: auto;
}

.App main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.main_wrapper_desktop{
  margin: var(--mainWrapperMargins);
  display: grid;
  grid-template-columns: var(--headerWitdh) calc(100% - var(--headerWitdh));
  grid-gap: 2rem;
}

.main_wrapper_mobile{
  margin: var(--mainWrapperMargins);
}

h1{
  font-size: clamp(var(--h1FontSizeMobile), 10vw, var(--h1FontSizeDesktop));
  color : var(--primaryColor);
  cursor: default;
}

h2{
  font-size: clamp(var(--h2FontSizeMobile), 3vw, var(--h2FontSizeDesktop));
  font-style: italic;

  color: var(--secondaryColor);
  cursor: default;
}

h3{
  font-size: clamp(var(--h3FontSizeMobile), 2.5vw, var(--h3FontSizeDesktop));
  font-style: italic;

  color: var(--secondaryColor);
  cursor: default;
}

h4{
  font-size: clamp(var(--h4FontSizeMobile), 2.5vw, var(--h4FontSizeDesktop));
  color: var(--secondaryColor);
  font-weight: normal;
  cursor: default;
}

h5{
  font-size: clamp(var(--h5FontSizeMobile), 2vw, var(--h5FontSizeDesktop));
  color: var(--secondaryColor);
  font-weight: normal;
  cursor: default;
}

h6{
  font-size: clamp(var(--h6FontSizeMobile), 2vw, var(--h6FontSizeDesktop));
  color: var(--secondaryColor);
  font-weight: normal;
  cursor: default;
}
/* 
h7{
  font-size: clamp(var(--h7FontSizeMobile), 2vw, var(--h7FontSizeDesktop));
  color: var(--secondaryColor);
  font-weight: normal;
  cursor: default;
} */

p{
  font-size: clamp(var(--pFontSizeMobile), 2vw, var(--pFontSizeDesktop)); 
  color: var(--secondaryColor);
  cursor: default;
}

li{
  font-size: clamp(calc(var(--pFontSizeMobile) + 2px) ,  2vw,calc(var(--pFontSizeDesktop) + 2px)); 
  color: var(--secondaryColor);
  cursor: default;
}

button{
  font-size: clamp(var(--buttonFontSizeMobile), 2vw, var(--buttonFontSizeDesktop));
}


